@font-face {
	font-family: 'Bigelow Rules';
	font-style: normal;
	font-weight: 400;
	src: local('Bigelow Rules'), local('BigelowRules-Regular'), url(dafeizizhu.woff) format('woff');
}

p, li {
	font-family: "Microsoft YaHei";
	line-height: 2em;
}

h1, h2 {
	font-weight: bold;
	margin-bottom: 20px;
}

h2 a {
	color: black;
}

h2 a:hover {
	color: black;
}

hr {
	margin: 0;
	color: #ccc;
}

pre {
	clear: right;
}

.dfzz-layout { 
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 300px;
}

.dfzz-layout-middle {
	float: left;
	width: 100%;
}

.dfzz-layout-left {
	width: 300px;
	position: relative;
	left: -300px;
	float: left;
	margin-left: -100%;   
	background-color: #049ff1;
}

.dfzz-layout-right {
	float: left;
	margin-right: -100%;
}

.dfzz-layout-left, .dfzz-layout-middle, .dfzz-layout-right {
	margin-bottom: -10000px;
	padding-bottom: 10000px;
}

.dfzz-content {
	padding: 0px 10px 10px 10px;
	background-color: white;
}

.dfzz-navbar {
	padding: 0px 10px 10px 10px;
}

.dfzz-navbar-brand {
	font-family: "Bigelow Rules";
	font-size: 100px;
	text-decoration: none;
	color: white;
}

.dfzz-navbar-brand:hover {
	text-decoration: none;
	color: #04477c;
}

.dfzz-navbar-menu {
	text-align: right;
}

.dfzz-navbar-menu ul {
	list-style: none;
}

.dfzz-navbar-menu ul li {
	margin: 10px 30px 10px 0px;
}

.dfzz-navbar-menu a {
	color: white;
	font-size: 2em;
	font-weight: bold;
}

.dfzz-navbar-menu a:hover {
	text-decoration: none;
}

.dfzz-navbar-menu .dfzz-tags-item li {
	line-height: 1.5em;
	margin: 0px -10px 0px 0px;
}

.dfzz-navbar-menu .dfzz-tags-item a {
	font-size: 1em;
	font-weight: normal;
}

.dfzz-navbar-menu .dfzz-tags-item a.dfzz-tags-selected {
	font-size: 1.5em;
	font-weight: bold;
}

.dfzz-navbar-menu .dfzz-tags-item a:hover {
	text-decoration: none;
}

.dfzz-navbar-menu .dfzz-tags-item a span {
	font-size: 0.8em;
	vertical-align: super;
}

.dfzz-tags-archives {
	min-height: 500px;
}

.dfzz-tags-archives ul {
}

.dfzz-tags-archives li a {
	font-size: 1.2em;
	line-height: 2em;
	color: black;
}

.dfzz-tags-archives li a:hover {
	color: black;
}

.dfzz-article-date {
	border: 1px solid #CCC;
	float: right;
	margin: 5px;
	padding: 5px;
}

.dfzz-content-summary {
	border: 1px solid #CCC;
	float: right;
	padding: 5px;
	width: 200px;
	margin: 5px;
}

.dfzz-content .article {
	margin-bottom: 50px;
}

.dfzz-page {
	margin-bottom: 50px;
}

.dfzz-page a {
	font-size: 1.5em;
	font-weight: bolder;
}

.dfzz-page .dfzz-page-next {
	float: right;
}

@media screen and (max-width: 900px) {
	body {
		min-width: 480px;
	}

	.jiathis_style_32x32 {
		display: none;
	}

	.dfzz-layout {
		padding: 0 10px;
	}

	.dfzz-layout-left {
		float: none;
		left: 0px;
		margin: 0px;
		padding: 0px;
		position: absolute;
		top: 0px;
		width: 100%;
	}

	.dfzz-layout-middle {
		margin-bottom: 0px;
		padding-bottom: 0px;
		padding-top: 160px;
	}

	.dfzz-navbar-header {
		display: inline;
		float: left;
	}

	.dfzz-navbar-menu {
		display: inline;
		float: left;
	}

	.dfzz-navbar-menu .dfzz-navbar-menu-container {
		display: inline;
		float: left;
	}

	.dfzz-navbar-menu .dfzz-navbar-menu-item {
		display: inline;
		float: left;
	}

	.dfzz-navbar {
		display: inline;
		float: left;
	}

	.dfzz-tags-item {
		list-style: none;
	}

	.dfzz-tags-item li {
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 50px;
	}

	.dfzz-tags-item li a {
		padding: 5px;
	}

	.dfzz-tags-selected {
		font-weight: bold;
		font-size: 1.2em;
	}
}
