extends base.jade

block content
  h3 我
  p 我叫麦志英。
  p 我是男的。
  p 我出生在1986年12月。
  p 我于2009年毕业于中山大学（不在中山，在广州），计算机科学与技术，本科。
  p 我现在在广州，应该会一直在广州，所以我很稳定。
  p 我的github：
    a(href='https://github.com/dafeizizhu', target='_blank') https://github.com/dafeizizhu
    |。
  h3 工作
  p 2009年在广州一家小私企干活，啥都干。技术没咋学到（用的是VB，汗），认识了很多人，教会了我很多做人的道理。在这家公司最后的时光在前端入了个门，说白了就是学了Ajax。
  p 2011年机缘巧合进了华为，远赴深圳。在那边每天就是2点一线（公司 － 宿舍，连吃饭的地方都在公司园区），不是干活就是睡觉。累是挺累的，但是学到的东西（这次主要是技术啦）也是成倍的。由于我所在的部门不是华为的传统部门（传统部门是做硬件的，我进去的当年还没有手机部门呢），附近的Web技术也只能通过我们这边学一点，那边学一点一点一点摸索而来。那时候的时光也是最快乐的，虽然也是加班加到午夜，但是每个同事都像打了鸡血般对每个技术问题一直研究研究再研究。
  p 然而快乐的日子只维持了半年。半年之后立项了，项目正式化起来了，各种流程蜂拥而至。所有代码必须经过上司以及组内同事的检视，每个问题单都必须回归通过，不然后果很严重。版本经理日常的周末发版本，使得我们几乎每个周末都要为了那些“一个像素”的问题单加班一整夜。但想想其实也还好，在这个过程中也了解了很多跟测试相关的知识，在使用新技术重构前端界面的时候感觉又回到了初入华为那段打鸡血的日子。
  p 2013年要结婚了，所以从华为辞了回广州发展。在交回工卡的那天，组里面的Leader还给我买了蛋糕，挺惊讶的，毕竟好聚好散不是那么容易的事情。
  p 回广州没有多想，就进了多玩网，也就是YY，负责网站部的一些业务需求的开发。到目前为止做得最多的就是视频项目。对，那些在视频中加广告啊，瞎XX弹窗的事情我也有份干的，哈哈哈。
  p （未完待续）
  h3 发展
  p  从华为开始就一直在做前端方面的东西。这几年感觉前端，特别是JavaScript，发展得实在太快了，快得让人目不暇接。从当初懂个Ajax就得意忘形，到现在，你出去不说你懂10几20个MVX框架都不能把头抬起来。各种框架、工具、库，在node的帮助下前端也能涉足后端的开发，并且在性能上也有一战之力。近年来，在React的支持下，我们这些前端狗甚至能编写出移动平台的App，而且性能跟原生APP也越来越接近了。
  p 虽然在YY的工作更多的是跟Flash打交道，但是我想，第一，编程的思想才是重要的，使用什么语言，什么平台并不重要。当初接触Flash的时候，我对Flash也是一窍不通。但是，我也能根据之前的知识进行软件设计、实现、测试等，这些东西只要肯学习，认真学，不是什么障碍。懂得为什么这么写，这么写能达到什么效果才是在编程中最重要的。
  p 第二，在业余的时间，我依然关注前端方面的前沿知识。无论现在的工作是什么，都要坚持学习，并努力把学习到的东西使用到实际的应用中（无论是公司的项目还是自己的练手项目）。在前端方面能保持竞争力是我最在意的事情。
  h3 最后
  p 做一只懂运营、懂产品、懂设计的技术狗。
