extends base.jade

block content
  ul
    each projects, tag in projectsMap
      li
        | #{tag}
        ul
          each project in projects
            li: a(href='#{project.link}', target='_blank') #{project.title}
