extends base.jade

block content
  ul
    each tag in tags
      li
        a(href='/tags/#{tag}') #{tag}
        ul
          each post in tagsMap[tag]
            li: a(href='#{post.link}') #{post.title}
