.loading_css3 {
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-top: -24px;
    margin-left: -24px;
    width: 48px;
    height: 48px;
    background: url(./loading.png) 0 0;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;
    -webkit-animation-name: animate01;
}

@-webkit-keyframes animate01 {
    0% {
        background-position: 0px 0;
    }
    12.5% {
        background-position: 48px 0;
    }
    25% {
        background-position: 96px 0;
    }
    37.5% {
        background-position: 144px 0;
    }
    50% {
        background-position: 192px 0;
    }
    62.5% {
        background-position: 240px 0;
    }
    75% {
        background-position: 288px 0;
    }
    87.5% {
        background-position: 336px 0;
    }
    100% {
        background-position: 384px 0;
    }
}

.wrapper {
    width: 200px;
    height: 200px;
    border: 3px solid #808080;
    border-radius: 5px;
    position: relative;
}
